[user]
	name = Kasper4649
	email = imzxz123456@gmail.com

[alias]
    dog = log --all --decorate --oneline --graph
    fixup = "!f() { TARGET=$(git rev-parse \"$1\"); shift; git commit --fixup=$TARGET ${@} && GIT_EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
